.note, #addnote {
  border: 2px solid black;
  padding: .2em;
  background-color: hsl(49,77%,74%);
  margin: .2em;
  border-radius: .6em;
  width: 100%;
  word-wrap: break-word;
  overflow: auto;
}
#list {
  display: block;
  position: absolute;
  height: 100%;
  margin: .5em;
  overflow: hidden;
  width: 150px;
}
#list button {
  display: block;
  margin: .3em;
  width: 90%;
  overflow: hidden;
}
#noteArea {
  display: block;
  position: absolute;
  left: 150px;
  width: 50%;
  min-width: 200px;
}
.hidden {
  display: none;
}
#title {
  display: block;
  font-size: 1.2em;
  background-color: hsl(49,77%,74%);
}
#contents {
  display: block;
  height: 200px;
  width: 100%;
  background-color: hsl(49,77%,74%);
}
.date {
  font-size: .6em;
  display: inline-block;
}
#notes {
  /*display: flex;*/
}
body {
  background-color: hsl(34,57%,40%);
}
