.note, .modal {
  border: 2px solid black !important;
  border-radius: .6em !important;
  word-wrap: break-word !important;
  overflow: auto !important;
  margin-bottom: 1em !important;
}
#list {
  overflow: hidden;
}
#list button {
  display: block;
  margin-top: .3em;
  margin-bottom: .3em;
  overflow: hidden;
}
.hidden {
  display: none;
}
#title {
  display: block;
  font-size: 1.2em;
}
#contents {
  display: block;
  height: 200px;
  width: 100%;
}
.date {
  font-size: .6em;
  display: inline-block;
}
body {
  background-color: hsl(34,57%,40%);
}
#title, #contents, .note, #addnote {
  background-color: hsl(49,77%,74%) !important;
}
